*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
main{
    display:grid;
    grid-template-columns: (3fr,1fr);
    place-items:flex-end center;
    place-content: center;
    gap:4rem;
}
.container{
    diaplay: flex;
    justify content: center;
    align-items: center;
    width: 100%;
    border radius: 10px;
    flex-direction: column;
    padding 1 rem;
    gap: 1 rem;
    z-index: 1;
    transition:all 0.3;
}

.container:hover{
    transform: translateY(3rem) translateZ(3rem);
}
.container img{
    width: 100%;
    border-radius 10px;

}

.container p{
    font-size:1.2rem;
    font-weight: 500;

}

.fixed-icon{
    background-color: crimson;
    width: 5rem;
    padding 1 rem;
    border-radius: 100%;
    position:fixed;
    bottom:0.5rem;
    right: 0.5rem;
}

.fixed-icon img{
    filter: invert(1);
    width:100%;
}