@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
*{
    font-family: 'WindSong', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: lightblue;
    padding: 1rem 2.5rem;
    text-align: center;
}

div{
    color: crimson
}

h1{
    color: darkgoldenrod
}

div h1{
    color: darkblue;
} 

.container h1{
    color: darkred;
} 

.title{
    color: blue;
    font-weight: bold;
}

.btn-primary{
    color: green;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    color:white;
    background-color: black;
    width: 20rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
}

.modal h1{
    color: white;
    font-size: 1.2rem;

}

.modal button{
    color: white;
    background-color: red;
    padding: 0.5rem 0.8rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    top: -15.5rem;
    left: 17.5rem;
}


.box-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.box{
    background-color: crimson;
    color: white;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.box:nth-child(3){

    background-color: blue;
    position: sticky;
    top: 0;

}
#special-title{
    color: red;
}
